{{ extend 'layout.html' }}
<div>
	<h1>Welcome to Transcriber</h1>
	<div class="page-explanation">
		<p>
			Transcriber is a crowdsourcing website where people come together to share knowledge on historical documents. 
		</p>
		<p>
			If you have documents you need transcribing, but don't have the time or the knowledge, register an account and upload the documents to be transcribed.
			Otherwise, you can search the documents and offer transcriptions to the documents available.
		</p>
	</div>
	<h2>Recent Documents:</h2>
	<ul class="document-list">
	{{for r in recents: }}
		{{if current_user == None:}}
			{{method = 'transcribe'}}
		{{elif r.getProject().getCreator() == current_user.getId():}}
			{{method = 'review'}}
		{{else:}}
			{{method = 'transcribe'}}
		{{pass}}
		<li>
			<a href="{{=URL(c='document', f=method, args=[r.getId()])}}">
			<h3>{{=r.getTitle()}}</h3>
			<img alt="{{=r.getAlt()}}" src="{{=URL(c='document', f='image', args=[r.getImage()])}}">
			</a>
		</li>
	{{pass}}
	</ul>
	<a href="{{=URL(c='document', f='browse')}}"><h4 class="clarification">View All Documents</h4></a>
</div>