{{ extend 'layout.html' }}
<div>
	<div>
		<h1>Wilkommen</h1>
    <p>The function of propaganda does not lie in the scientific training of the individual, but in calling the masses' attention to certain facts, processes, necessities, etc., whose significance is thus for the first time placed within their field of vision ...<br><br> All propaganda must be popular and its intellectual level must be adjusted to the most limited intelligence among those it is addressed to. Consequently, the greater the mass it is intended to reach, the lower its purely intellectual level will have to be. But if, as in propaganda for sticking out a war, the aim is to influence a whole people, we must avoid excessive intellectual demands on our public, and too much caution cannot be extended in this direction.</p>
	</div>
	<h2>Recent Documents:</h2>
	<ul class="document-list">
	{{for r in recents: }}
		{{if current_user == None:}}
			{{method = 'transcribe'}}
		{{elif r.getProject().getCreator() == current_user.getId():}}
			{{method = 'review'}}
		{{else:}}
			{{method = 'transcribe'}}
		{{pass}}
		<li>
			<a href="{{=URL(c='document', f=method, args=[r.getId()])}}">
			<h3>{{=r.getTitle()}}</h3>
			<img alt="{{=r.getTitle()}} image." src="{{=URL(c='document', f='image', args=[r.getImage()])}}">
			</a>
		</li>
	{{pass}}
	</ul>
</div>