{{ extend 'layout.html' }}
<a href="/iapt/user/login">Login</a>
<a href="/iapt/user/register">Register</a>
<h2>Recent Documents:</h2>
<ul class="document-list">
    <li>
        <div class="document-preview">
            Document One
        </div>
    </li>
    <li>
        <div class="document-preview">
            Document Two
        </div>
    </li>
    <li>
        <div class="document-preview">
            Document Three
        </div>
    </li>
    <li>
        <div class="document-preview">
            Document Four
        </div>
    </li>
    <li>
        <div class="document-preview">
            Document Five
        </div>
    </li>
    <li>
        <div class="document-preview">
            Document Six
        </div>
    </li>
    <li>
        <div class="document-preview">
            Document Seven
        </div>
    </li>
    <li>
        <div class="document-preview">
            Document Eight
        </div>
    </li>
    <li>
        <div class="document-preview">
            Document Nine
        </div>
    </li>
</ul>
<div style="height: 1280px"></div>