{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" type="text/css" href="{{= URL('static', 'css/project.css') }}" />
{{end}}
<div>
	<h1>My Projects</h1>
	{{if len(projects) == 0:}}
    <br />
    <div>You have not created any projects yet. Why not <a href="{{= URL('project', 'new') }}">Create a Project</a> now?</div>
    {{else:}}
	<ul class="projects-list">
	{{for p in projects: }}
		<li>
            <span>
                <h3><a href="{{=URL(c='project', f='manage', args=[p.getId()])}}">{{=p.getTitle()}}</a></h3>
                {{=p.getDocumentsTranscribed()}} / {{=p.getDocumentCount()}} documents have transcriptions
            </span>
        {{if p.isOpen(): }}
            <a href="{{=URL(c='project', f='toggle', args=[p.getId()])}}"><button>Close</button></a>	
        {{else:}}
            <a href="{{=URL(c='project', f='toggle', args=[p.getId()])}}"><button>Open</button></a>	
        {{pass}}
		</li>
	{{pass}}
    {{pass}}
	</ul>
</div>
