{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" type="text/css" href="{{= URL('static', 'css/project.css') }}" />
{{end}}
<div>
    <div class="breadcrumb">
        <a href="{{= URL('project', 'index') }}">Your Projects</a> &gt; 
        {{=project.getTitle()}} Project
    </div>
	<h2>{{=project.getTitle()}}</h2>
    <section class="project-open-status">
        This project is currently {{="open" if project.isOpen() else "closed"}}.
        {{if project.isOpen():}}
        <a href="{{=URL(c='project', f='toggle', args=[project.getId()])}}"><button>Close</button></a>	
        {{else:}}
        <a href="{{=URL(c='project', f='toggle', args=[project.getId()])}}"><button>Open</button></a>	
        {{pass}}
    </section>
	<span>There are {{=len(project.getDocuments())}} document(s) in this project.</span>
	<ul class="projects-list">
		{{for d in project.getDocuments():}}
        <li>
            <h4><a href="{{=URL(c='document', f='review', args=[d.getId()])}}">{{=d.getTitle()}}</a></h4>
            {{transcription_count = d.getTranscriptionCount()}}
            <span>{{=transcription_count}} transcription{{=" has" if transcription_count == 1 else "s have"}} been made.</span>
            <a href="{{=URL(c='document', f='review', args=[d.getId()])}}"><button>Review</button></a>
        </li>
		{{pass}}
	</ul>
</div>
