{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" type="text/css" href="{{= URL('static', 'css/project.css') }}" />
{{end}}
<div>
	<h1>New Project</h1>
	<p id="progress">{{=((step-1)*100)/3}}% complete</p>
	<progress max="3" value="{{=step-1}}"></progress>
	{{if step == 1:}}
		{{=form}}
	{{elif step == 2:}}
		<h2>Upload Documents</h2>
		<p>Add documents you want to be transcribed to your project. When you've uploaded all the documents you require, press next to continue.</p>
		<ul class="document-list">
		{{for idx, doc in enumerate(new_project['documents']): }}
			<li>
				<h3>{{=doc['title']}}</h3>
				<img alt="{{=doc['title']}} image." src="{{=URL(f='image', args=[doc['image']])}}">
				<a href="{{=URL(args=[2, 'delete', idx])}}">Remove</a>
			</li>
		{{pass}}
		</ul>
		{{=form}}
		<a href="{{=URL(args=[1])}}">
			<button type="button" class="new-back">&lt; Back</button>
		</a>
		<a href="{{=URL(args=[3])}}">
			<button type="button" class="new-next">Next &gt;</button>
		</a>
	{{elif step == 3:}}
		<form id="section-editor" method="post">
			<ul class="document-list document-list-left">
			{{for doc in new_project['documents']: }}
				<li>
				<h3>{{=doc['title']}}</h3>
				<img alt="{{=doc['title']}} image." src="{{=URL(f='image', args=[doc['image']])}}">
				</li>
			{{pass}}
		</ul>
			<ul id="section-list">
				{{for i,s in enumerate(new_project['sections']):}}
				<li>
					<label for="section-title{{=i}}">Title</label>
					<button class="section-delete" type="submit" formaction="{{=URL(args=[3, 'remove', i])}}">Remove</button>
					<input name="section-title{{=i}}" type="text" value="{{=s['title']}}">
					<label for="section-blurb{{=i}}">Short Description</label>
					<textarea rows="3" name="section-blurb{{=i}}">{{=s['blurb']}}</textarea>
				</li>
				{{pass}}
				<li>
				<button id="section-add" type="submit" formaction="{{=URL(args=[3, 'add'])}}">Add Section</button>
				</li>
			</ul>
			<div class="clear"></div>
			<button class="new-back" type="submit" formaction="{{=URL(args=[3, 'back'])}}">&lt; Back</button>
			<button class="new-next" type="submit" formaction="{{=URL(args=[3, 'finish'])}}">Finish &gt;</button>
		</form>
	{{pass}}
</div>
{{end}}