{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" type="text/css" href="{{= URL('static', 'css/project.css') }}" />
{{end}}
<div>
	<h2>New Project</h2>
	<progress max="3" value="{{=step}}"></progress>
	<div>Step {{=step}} of 3.</div>
	{{if step == 1:}}
		{{=form}}
	{{elif step == 2:}}
		<ul class="document-list">
		{{for doc in new_project['documents']: }}
			<li>
			<h3>{{=doc['title']}}</h3>
			<img alt="{{=doc['title']}} image." src="{{=URL(f='image', args=[doc['image']])}}">
			</li>
		{{pass}}
		</ul>
		{{=form}}
		<a class="button next-button" href="{{=URL(args=[3])}}">Next &gt;</a>
	{{else:}}
		<ul class="document-list document-list-left">
		{{for doc in new_project['documents']: }}
			<li>
			<h3>{{=doc['title']}}</h3>
			<img alt="{{=doc['title']}} image." src="{{=URL(f='image', args=[doc['image']])}}">
			</li>
		{{pass}}
		</ul>
		<form id="section-form" method='post'>
			<ul id="section-editor">
			</ul>
			<a class="button" id="add-section">Add New Section</a>
			<input type="submit" value="Submit Project">
		</form>
	{{pass}}
	<div class="clear"></div>
</div>

{{block script}}
{{if step == 3:}}
	<script type="text/javascript" src="{{= URL('static', 'js/jquery.js') }}"></script>
	<script type="text/javascript">
		sections = [];

		$(document).ready(function() {
			// Add preliminary section
			add_section();
			// Setup event handler
			$("#add-section").click(add_section);
		});

		function add_section() {
			$("#section-editor").append(
				$("<li>").append(
					$('<input>').attr(
						'name', 'section-title[]').attr( 
						'placeholder', 'Section Name').attr(
						'type','text')).append(
					"<br>").append(
					$('<textarea>').attr(
						'name', 'section-blurb[]').attr(
						'cols', '24').attr(
						'rows', '3').attr(
						'placeholder', 'Section Description')));
		}
	</script>
{{pass}}
{{end}}