{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" type="text/css" href="{{= URL('static', 'css/project.css') }}" />
{{end}}
<div>
	<h1>New Project</h1>
	<p id="progress">Step {{=step}} of 3</p>
	<progress max="3" value="{{=step-1}}"></progress>
	{{if step == 1:}}
		<p class="clarification">Enter a title for your project.<br/>(This will be used to identify your project.)</p>
		{{=form}}
		<p class="clarification">*: This field is mandatory.</p>
	{{elif step == 2:}}
		<h2>Upload Documents</h2>
		<div class="page-explanation">
			<p>Add the documents you want to be transcribed to your project. When you've uploaded all the documents for this project, press next to continue.</p>
		</div>
		<ul class="document-list">
		{{for idx, doc in enumerate(new_project['documents']): }}
			<li>
				<h3>{{=doc['title']}}</h3>
				<img alt="Image for document '{{=doc['title']}}'." src="{{=URL(f='image', args=[doc['image']])}}">
				<div class="bottom"><a href="{{=URL(args=[2, 'delete', idx])}}" class="button">Remove</a></div>
			</li>
		{{pass}}
		</ul>
		{{=form}}
		<p class="clarification">*: This field is mandatory.</p>
		<br /><br /><br />
		<a href="{{=URL(args=[1])}}" class="button new-back">
			&lt; Back
		</a>
		<a href="{{=URL(args=[3])}}" class="button new-next">
			Next &gt;
		</a>
	{{elif step == 3:}}
		<div class="page-explanation">
			<p>
				Add the sections of the documents that you would like transcribing. For each section, make sure that the information is descriptive enough, to ensure you get correct transcriptions.
				When you've described all the sections you would like to be filled, press finish to complete your project.
			</p>
		</div>
		<form id="section-editor" method="post">
			<ul class="document-list document-list-left">
			{{for doc in new_project['documents']: }}
				<li>
				<h3>{{=doc['title']}}</h3>
				<img src="{{=URL(f='image', args=[doc['image']])}}" alt="Image for document '{{=doc['title']}}'.">
				</li>
			{{pass}}
			</ul>
			<ul id="section-list">
				{{for i,s in enumerate(new_project['sections']):}}
				<li>
					<label for="section-title{{=i}}">Title</label>
					<button class="section-delete" type="submit" formaction="{{=URL(args=[3, 'remove', i])}}">Remove</button>
					<input id="section-title{{=i}}" name="section-title{{=i}}" type="text" value="{{=s['title']}}">
					<label for="section-blurb{{=i}}">Short Description</label>
					<textarea rows="3" id="section-blurb{{=i}}" name="section-blurb{{=i}}">{{=s['blurb']}}</textarea>
				</li>
				{{pass}}
				<li>
				<button id="section-add" type="submit" formaction="{{=URL(args=[3, 'add'], anchor='bottom')}}">Add Another Section</button>
				</li>
			</ul>
			<div class="clear"></div>
			<button class="new-back" type="submit" formaction="{{=URL(args=[3, 'back'])}}">&lt; Back</button>
			<button class="new-next" type="submit" formaction="{{=URL(args=[3, 'finish'])}}">Finish &gt;</button>
		</form>
		<p class="clarification" id="bottom">*: This field is mandatory.</p>
	{{pass}}
</div>
{{end}}