{{extend 'layout.html'}}
<div>
	<h2>{{=project.getTitle()}}</h2>
	<span>{{=project.getOpenDocumentCount()}} document(s) in this project.</span>
	<ul class="document-list">
		{{for r in project.getDocuments():}}
        {{if r.isOpen():}}
		<li>
            <a {{if r.isOpen():}}
            href="{{=URL(c='document', f='transcribe', args=[r.getId()])}}"
            {{pass}}>
			<h3>{{=r.getTitle()}}</h3>
			</a>
			<img alt="{{=r.getTitle()}} image." src="{{=URL(c='document', f='image', args=[r.getImage()])}}">
		</li>
        {{pass}}
		{{pass}}
	</ul>
</div>