<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{=response.title or ''}} | Transcriber</title>
		<link rel="stylesheet" type="text/css" href="{{= URL('static', 'css/layout.css') }}" />
		{{block head}}{{end}}
	</head>
	<body>
		<header>
			{{block header}}
			<div>
				<a id="title" href="{{= URL('default', 'index') }}" tabindex="1">Transcriber</a>
				<nav>
					<ul>
						<li{{if (request.controller == "default" and request.function == "index"):}} class="selected"{{pass}}><a href="{{= URL('default', 'index') }}" tabindex="3">Home</a></li><!--
						--><li{{if (request.controller == "project" and request.function == "index"):}} class="selected"{{pass}}><a href="{{= URL('project', 'index') }}" tabindex="3">Your Projects</a></li><!--
						--><li{{if (request.controller == "project" and request.function == "new"):}} class="selected"{{pass}}><a href="{{= URL('project', 'new') }}" tabindex="3">New Project</a></li><!--
						{{ if current_user: }}
							--><li{{if (request.controller == "user" and request.function == "index"):}} class="selected"{{pass}}><a href="{{= URL('user', 'index') }}" tabindex="3">Your Profile</a></li><!--
							--><li><a href="{{= URL('user', 'logout') }}" tabindex="3">Logout</a></li>
						{{ else: }}
							--><li{{if (request.controller == "user" and request.function == "login"):}} class="selected"{{pass}}><a href="{{= URL('user', 'login') }}" tabindex="3">Login</a></li><!--
							--><li{{if (request.controller == "user" and request.function == "register"):}} class="selected"{{pass}}><a href="{{= URL('user', 'register') }}" tabindex="3">Register</a></li>
						{{ pass }}
					</ul>
				</nav>
				<form method="POST" action="{{= URL('search', 'index') }}" id="search"><div class="arrow"></div><input type="search" name="searchterm" tabindex="2"/><input type="submit" value="Search" tabindex="2"/></form>
			</div>
			{{end}}
		</header>
		<main>
			{{if isinstance(response.flash, dict):}}
				<div id="flash" class="{{= response.flash['class']}}">
					{{= response.flash['msg']}}
				</div>
			{{elif response.flash:}}
				<div id="flash">
					{{= response.flash}}
				</div>
			{{pass}}
			{{include}}
		</main>
		<div id="spacer"></div>
		<footer>
			{{block footer}}
			<div>
				<div class="section"><h4>Transcriber</h4>
						<p>
						Third year group project for the Interactive Applications and Programming Techniques module at the University of York.
						</p>
						&copy; IAPT Group 6
				</div>
				<div class="section"><h4>Other Sites</h4><ul>
						<li><a href="http://www.ancestry.co.uk" class="external" target="_blank">Ancestry</a></li>
						<li><a href="http://www.york.ac.uk" class="external" target="_blank">University of York</a></li>
					</ul></div>
				<div class="section"><h4>Site Map</h4><ul>
						<li><a href="{{= URL('default', 'index') }}">Home</a></li>
						<li><a href="{{= URL('project', 'index') }}">Your Projects</a></li>
						<li><a href="{{= URL('project', 'new') }}">New Project</a></li>
						{{ if current_user: }}
							<li><a href="{{= URL('user', 'logout') }}">Logout</a></li>
							<li><a href="{{= URL('user', 'index') }}">Your Profile</a></li>
						{{ else: }}
							<li><a href="{{= URL('user', 'login') }}">Login</a></li>
							<li><a href="{{= URL('user', 'register') }}">Register</a></li>
						{{ pass }}
					</ul></div>
			</div>
			{{end}}
		</footer>
		<!-- Load javascript last to improve page rendering speed -->
		{{block script}}{{end}}
	</body>
</html>