<!doctype html>
<html lang="en">
	<head>
		<title>{{=response.title or request.application}}</title>
		<link rel="stylesheet" type="text/css" href="{{= URL('static', 'css/layout.css') }}" />
		{{block head}}{{end}}
	</head>
	<body>
		<header>
			{{block header}}
			<div>
				<h1><a href="{{= URL('default', 'index') }}">Transcriber</a></h1>
				<nav>
					<ul>
						<li><a href="{{= URL('default', 'index') }}">Home</a></li><!--
						--><li><a href="{{= URL('project', 'index') }}">Your Projects</a></li><!--
						--><li><a href="{{= URL('project', 'new') }}">New Project</a></li><!--
						{{ if current_user: }}
							--><li><a href="{{= URL('user', 'logout') }}">Logout</a></li><!--
							--><li><a href="{{= URL('user', 'index') }}">Your Profile</a></li>
						{{ else: }}
							--><li><a href="{{= URL('user', 'login') }}">Login</a></li><!--
							--><li><a href="{{= URL('user', 'register') }}">Register</a></li>
							
						{{ pass }}
					</ul>
				</nav>
				<form method="POST" action="{{= URL('search', 'index') }}" id="search"><div class="arrow"></div><input type="search" /><input type="submit" value="Search" /></form>
			</div>
			{{end}}
		</header>
		<main>
			{{if response.flash:}}
				<div id="flash">
					FLASH! {{= response.flash}}
				</div>
			{{pass}}
			{{include}}
			{{pass}}
		</main>
		<div id="spacer"></div>
		<footer>
			{{block footer}}
			<div>
				<div class="section">The footer of doom, not sure if really required</div>
				<div class="section">Other Sites<ul><li>David</li><li>Made</li><li>Me</li><li>Do</li><li>It</li></ul></div>
				<div class="section">Site Map<ul>
						<li><a href="{{= URL('default', 'index') }}">Home</a></li>
						<li><a href="{{= URL('project', 'index') }}">Your Projects</a></li>
						<li><a href="{{= URL('project', 'new') }}">New Project</a></li>
						{{ if current_user: }}
							<li><a href="{{= URL('user', 'logout') }}">Logout</a></li>
							<li><a href="{{= URL('user', 'index') }}">Your Profile</a></li>
						{{ else: }}
							<li><a href="{{= URL('user', 'login') }}">Login</a></li>
							<li><a href="{{= URL('user', 'register') }}">Register</a></li>
						{{ pass }}
					</ul></div>
			</div>
			{{end}}
		</footer>
		<!-- Load javascript last to improve page rendering speed -->
		{{block script}}{{end}}
	</body>
</html>