<!doctype html>
<html lang="en">
	<head>
		<title>{{=response.title or request.application}}</title>
		<link rel="stylesheet" type="text/css" href="{{= URL('static', 'css/layout.css') }}" />
		{{block head}}{{end}}
	</head>
	<body>
		<header>
            {{block header}}
			<div class="header-centre">
				<div class="logo">
					<a href="/iapt/default/index"><h1>Transcriber</h1></a>
				</div>
				<form class="header-search">
					<input type="search" placeholder="Search..." ><input type="submit" value="Search">
				</form>
				<nav>
					<a href="/iapt/default/index">Home</a>
					<a href="#">Dashboard</a>
					<a href="#">Create a Project</a>
				</nav>
			</div>
            {{end}}
		</header>
        <main>
            {{include}}
            <div style="height: 1280px"></div>
        </main>
        <footer>
            {{block footer}}
            &copy; IAPT Group Six
            {{end}}
        </footer>
        <!-- Load javascript last to improve page rendering speed -->
    </body>
</html>