* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	font-family: Arial, Sans-serif;
	color: #4C2811;
	position: relative;
	min-height: 100%;
	min-width:1090px;
	background-color: #E5D5B6;
}

input[type=submit], button {
	cursor: pointer;
	background-color: buttonface;
	color: black;
}

input[type=submit]:hover, input[type=submit]:focus,
button:hover, input[type=submit]:focus {
    background-color: buttonHighlight;
}

input, button {
	border: 1px solid #9A9A9A;
}

main > div, footer > div {
	width: 1020px;
	margin: auto;
}

#flash {
	height: 50px;
	background-color: #eb827a;
	border-radius: 5px;
	border: 1px solid;
	line-height: 300%;
	text-align: center;
	margin-bottom:5px;
}

#title {
	font-weight: bold;
	position: absolute;
	left: 10px;
	padding: 4px 0 3px;
	font-size: 26px;
}
.success_flash {
	background-color: #5ADB62 !important;
}

.rightSide {
	margin-left: 50%
}

h1, h2 {
	margin: 30px 0 30px;
}

a {
	color: #4C2811;
}

a[href]:hover {
	color: #C7B18F;
}

a.external:after {
	content: url(../External-Link.png);
	margin-left: 3px;
}

a.external:hover:after {
	content: url(../External-Link-Hover.png);
}

a.button {
	display: inline-block;
	cursor: pointer;
	background-color: buttonface;
	border: 1px solid #9A9A9A;
	color: black;
	padding: 8px;
	font-size: 18px;
	font-family: Arial, Sans-serif;
	text-align: center;
	text-decoration: none;
}

a.button:hover {
	background-color: buttonHighlight;
}

main {
	padding:85px 30px 30px 30px;
	height:100%;
}

form {
	width: 550px;
	margin: auto;
	font-size: 20px;
}

form table {
	width: 100%;
}

.w2p_fl {
	text-align: right;
	height: 50px;
	padding-right: 10px;
}

.w2p_fw, form input[type=text], form input[type=password] {
	width: 300px;
}
form input, form textarea, button {
	padding: 8px;
	font-size: 18px;
	font-family: Arial, Sans-serif;
}

.error {
	color: #BB121a;
}

progress {
	width:100%;
	height: 30px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	background-size: auto;
	border: 1px solid #7F441D;
	border-radius: 5px;
	background-color: #eee;
}

progress::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 5px;
}

progress::-webkit-progress-value {
	background-color: #5ADB62;
	border-radius: 5px 0 0 5px;
	background-size: 70px 40px, 100% 100%, 100% 100%;
}

progress::-moz-progress-bar {
	background-color: #5ADB62;
}

.clear {
	clear:both;
}

.scrollBox {
	overflow-y: auto;
}

ol, ul {
	padding-left: 2rem;
}

.page-explanation {
	display: block;
	width: 800px;
	margin: 32px auto 32px auto;
}
.page-explanation p {
	margin-bottom: 16px;
}

.clarification {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 8px;
}

/* Header */
header {
	min-width:1090px;
	width:100%;
	background-color:#fff;
	box-shadow:0 2px 5px -2px #000;
	position:fixed;
	z-index: 999;
}

header > div {
	position: relative;
	padding: 10px;
}

header a {
	text-decoration: none;
	display: block;
}

nav a {
	margin-top: 10px;
}

header ul {
	position: absolute;
	right: 10px;
	list-style-type: none;
	top: 0;
	bottom: 0;
}

header li {
	display: inline-block;
	padding: 10px;
	height: 100%;
}
header li.selected {
	border-bottom: 5px solid;
}

/* Search */
#search {
	border: 1px solid #7F441D;
	width: 550px;
	margin: 0 auto;
	box-shadow: 0 0 5px -2px #000;
}

#search input {
	padding: 8px;
	font-size: 18px;
	border: 0;
}

#search input[type=search] {
	width: 448px;
}

#search .arrow {
	border: 10px solid transparent;
	border-right: 10px solid #F4E5C4;
	position: absolute;
	margin: 10px 0 0 428px;
}

#search input[type=submit] {
	background-color: #F4E5C4;
	color: #4C2811;
	width: 100px;
}

#search input[type=submit]:hover, #search input[type=submit]:focus {
	background-color: #E5D5B6;
}

/* Footer */
#spacer {
	clear: both;
	height: 292px;
}

footer .section:nth-child(1) {
	border: 0;
}

footer > div {
	height: 180px;
}

footer .section {
	width: 330px;
	vertical-align: top;
	height: 100%;
	display: inline-block;
	border-left: 1px solid #4C2811;
	padding: 20px;
}

footer {
	position: absolute;
	bottom: 0;
	padding: 20px;
	width: 100%;
	background-color:#fff;
	box-shadow:0 -2px 5px -2px #000
}
footer h4 {
	font-size: 18px;
}
footer li {
	margin: 5px 0 5px 5px;
}

footer p {
	margin: 5px 0 5px 0;
}

footer a {
	color: #4C2811;
	font-size: 14px;
}

/* Document lists */
.document-list {
	margin-top:5px;
	list-style:none;
}

.document-list li {
	width: 190px;
	height: 200px;
	display:inline-block;
	border:1px solid black;
	padding:0;
	margin:0 0 10px 0;
	vertical-align:middle;
	position: relative;
}

.document-list li h3 {
	margin-bottom: 0.5rem;
}

.document-list li img {
	display: block;
	max-width: 180px;
	max-height: 130px;
	margin: auto;
}

.document-list > li > a:first-child {
	display: block;
	width: 100%;
	height: 100%;
}

.document-list > li > a:first-child:hover { 
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 5px #000000;
}
.document-list .bottom {
	padding: 8px;
	display: block;
	width: 100%;
	vertical-align: bottom;
	position: absolute;
	bottom: 0px;
	text-align: center;
}

::-webkit-input-placeholder { /* WebKit browsers */
	font-family: Arial, Sans-serif;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-family: Arial, Sans-serif;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-family: Arial, Sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	font-family: Arial, Sans-serif;
}

/* Responsive search */
@media (max-width: 1520px)	{
	#search {
		margin:0 0 0 17%;
	}
}

@media (max-width:1300px) {
	/* Below 1300px, shrink the search box */
	#search {
		width: 400px;
	}

	#search input {
		padding: 8px;
		font-size: 18px;
	}
	#search input[type=search] {
		width:298px;
	}
	#search .arrow {
		margin: 10px 0 0 278px;
	}
}

