* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-appearance: none;
}
html {
	height: 100%;
}

body {
	font-family: Arial, Sans-serif;
	color: #4C2811;
	position: relative;
	min-height: 100%;
	min-width:1090px;
}
input {
	border: 1px solid #9A9A9A;
}
.content, .dark > div, footer > div {
	width: 1020px;
	margin: auto;
}
h2 {
	margin: 30px 0 10px;
}
a {
	color: #4C2811;
	text-decoration: none;
}
a:hover {
	color: #C7B18F;
}
.dark {
	background-color: #CDBB99;
	padding: 30px;
	margin-bottom: 30px;
	box-shadow: 0 2px 5px -2px #000 inset, 0 -2px 5px -2px #000 inset;
}
form {
	width: 550px;
	margin: auto;
	font-size: 20px;
}
form table {
	width: 100%;
}
.w2p_fl {
	text-align: right;
	height: 50px;
	padding-right: 10px;
}
.w2p_fw, form input[type=text], form input[type=password] {
	width: 300px;
}
form input {
	padding: 8px;
	font-size: 18px;
}

footer {
	box-shadow: 0 2px 5px -2px #000 inset;
}
header {
	width: 100%;
}
header > div {
	position: relative;
	padding: 10px;
}
header h1 {
	font-weight: bold;
	font-size: 26px;
	position: absolute;
	left: 10px;
	padding: 4px 0 3px;
}
header > div > a:hover {
	color: #4C2811;
}
header ul {
	position: absolute;
	right: 10px;
	margin-left: 200px;
	height: 38px;
	list-style-type: none;
}
header li {
	display: inline-block;
	padding: 10px;
}

#search {
	border: 1px solid #7F441D;
	width: 550px;
	margin: 0 auto;
	box-shadow: 0 0 5px -2px #000;
}
#search input {
	padding: 8px;
	font-size: 18px;
	border: 0;
}
#search input[type=search] {
	width: 448px;
}
#search .arrow {
	border: 10px solid transparent;
	border-right: 10px solid #F4E5C4;
	position: absolute;
	margin: 10px 0 0 428px;
}
#search input[type=submit] {
	background-color: #F4E5C4;
	color: #4C2811;
	width: 100px;
}

footer .section:nth-child(1) {
	border: 0;
}
#spacer {
	height: 260px;
}
footer > div {
	height: 180px;
}
footer .section {
	width: 330px;
	vertical-align: top;
	height: 100%;
	display: inline-block;
	border-left: 1px solid #4C2811;
	padding: 20px;
}
footer {
	position: absolute;
	bottom: 0;
	padding: 20px;
	width: 100%;
	background-color: #CDBB99;
}
footer li {
	margin: 5px 0 5px 50px;
}

/* BE MORE RESPONSIVE */
@media (max-width: 1520px)	{
	#search {
		margin:0 0 0 17%;
	}
}

@media (max-width:1300px) {
	/* Below 1300px, shrink the search box */
	#search {
		width: 400px;
	}

	#search input {
		padding: 8px;
		font-size: 18px;
	}
	#search input[type=search] {
		width:298px;
	}
	#search .arrow {
		margin: 10px 0 0 278px;
	}
}
