.document-list {
	list-style:none;
}

.document-list li {
	width:200px;
	display:inline-block;
	border:1px solid black;
	padding:0;
	margin:0 0 10px 0;
}

.document-list li img {
	max-width:190px;
	max-height:50px;
}

#progress {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 5px;
}
progress, p {
	margin-bottom: 30px
}
#next-form {
	width: auto;
}
#next-form input {
	float:right;
}

/* Final step */

.document-list-left {
	float:left;
	width:650px;
}

#section-form {
	float:right;
	width:330px;
}

#section-form input[type=submit] {
    margin-top: 128px;
    margin-bottom: 32px;
    display: block;
    float: right;
}

#section-editor {
	list-style:none;
}

#section-editor li {
	padding:10px;
	border-bottom:1px solid black;
}

#section-editor li:last-child {
	border:none;
}