.projects-list {
	list-style:none;
}

.projects-list {
    display: table;
    width: 70%;
    margin: auto;
}
.projects-list > li {
    display: table-row;
    width: 100%;
}
.projects-list > li > span,
.projects-list > li > a {
    display: table-cell;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 32px;
}
.projects-list > li h3 {
    margin-bottom: 8px;
}
.projects-list > li > span {
    width: 100px;
}
.projects-list > li > a {
    width: 96px;
}
.projects-list > li > a > button {
    padding-bottom: 4px;
    padding-top: 4px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.project-open-status {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 24px;
}
.project-open-status button {
    margin-top: 8px;
}

p.open_notification {
    text-align: center;
}

#progress {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 5px;
}

.new-back {
    float:left;
}

.new-next {
    float:right;
}

#next-form {
	width: auto;
}
#next-form input {
	float:right;
}

/* Final step */
#section-editor {
    width:100%;
}

.document-list-left {
	float:left;
	width:650px;
}

#section-editor  {
	list-style:none;
}

#section-list {
    float:right;
    width:350px;
    list-style:none;
    margin-bottom:5px;
}

#section-list li {
    border-bottom:1px solid black;
    padding:7px;
}

#section-list li:last-child {
    border:none;
}

#section-list li textarea, #section-list li input[type=text] {
    width:300px;
}

.section-delete {
    float:right;
    font-size:12pt;
    margin:0 4px 3px 0;
}

#section-list li label {
    line-height:24pt;
}

#section-add {
    width:100%;
}

#section-list p {
    font-size:12pt;
}

.document-list > li {
    height: 256px;
    position: relative;
}

.document-list .bottom {
    padding: 8px;
    display: block;
    width: 100%;
    vertical-align: bottom;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

label:after {
    content: '*';
}