{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" type="text/css" href="{{= URL('static', 'css/review.css') }}" />
{{end}}
<div>
	<div class="breadcrumb"><a href="{{=URL(c='project', f='manage', args=[document.getProject().getId()])}}">{{=document.getProject().getTitle()}}</a> &gt; {{=document.getTitle()}} Document</div>
    <h2>{{=document.getTitle()}}</h2>
    <img src="{{=URL(c='document', f='image', args=[document.getImage()])}}" class="docimage-large">
    {{for section in document.getProject().getSections():}}
    <section>
        {{=section.getTitle()}}
    </section>
    {{pass}}
</div>
