{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/document.css')}}" />
{{end}}
<div>
	<div class="breadcrumb">
        <a href="{{= URL('project', 'index') }}">Your Projects</a> &gt; 
        <a href="{{=URL(c='project', f='manage', args=[document.getProject().getId()])}}">{{=document.getProject().getTitle()}}</a> &gt; 
        {{=document.getTitle()}} Document
    </div>
    <h1>{{=document.getTitle()}}</h1>
    <img src="{{=URL(c='document', f='image', args=[document.getImage()])}}" class="docimage-large">
    {{if document.getTranscriptionCount() == 0:}}
    <div>
        There have been no transcriptions for this document. You can go back to the 
        <a href="{{=URL(c='project', f='manage', args=[document.getProject().getId()])}}">project's page</a> or 
        <a href="{{= URL('project', 'index') }}">view all your projects</a>.
    </div>
    {{else:}}
    <form id="transcription-review" action="#" method="POST">
        {{for section in document.getProject().getSections():}}
        <section>
            <h3>{{=section.getTitle()}}</h3>
            <p>{{=section.getBlurb()}}</p>
            <ul class="transcription-list">
            {{checked = False}}
            {{for transcription in section.getTranscriptions(document):}}
                <li>
                    <label>
                        <p>{{=transcription.getText()}}</p>
                        <div>
                            <input name="section{{=section.getId()}}" type="radio" value="{{=transcription.getId()}}" {{="checked" if not checked else ""}}>
                            {{checked = True}}
                        </div>
                    </label>
                </li>
            {{pass}}
            </ul>
        </section>
        {{pass}}
        <input type=submit value="Accept Transcriptions" onclick="return setAction('accept');" />
        <input type=submit value="Reject All and Reopen" onclick="return setAction('reject');" />
        <div style="display: hidden;">
            <input type=hidden id="action" name="action" value="None" />
        </div>
    </form>
    {{pass}}
</div>
{{block script}}
<script type="text/javascript">
    function setAction(action) {
        document.getElementById("action").value = action;
        if (action === 'reject') {
            return confirm('are you sure you want to remove all the transcriptions?');
        }
        return true;
    }
</script>
{{end}}