{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/document.css')}}" />
{{end}}
<div>
    <div class="breadcrumb">
    	<a href="{{=URL(c='default', f='index')}}">Home</a> &gt; 
    	<a href="{{=URL(c='project', f='view', args=[project.getId()])}}">{{=project.getTitle()}}</a> &gt; {{=document.getTitle()}}</div>
	<h1>Transcribe {{=document.getTitle()}}</h1>
	<div id="scrollImage">
		<img src="{{=URL(c='document', f='image', args=[document.getImage()])}}">
	</div>
	<div class = "rightSide">
		<div class="scrollBox">
			<form method="post" class="transcription-form">
				<ul class="transcription-sections">
					{{for section in document.getProject().getSections():}}
					<li>
					<h3>{{=section.getTitle()}}</h3>
					<p>{{=section.getBlurb()}}</p>
					<textarea name="section{{=section.getId()}}" 
					placeholder="Enter transcription"></textarea>
					</li>
					{{pass}}
				</ul>
				<input type="submit" value="Submit this transcription">
			</form>
		</div>
	</div>
</div>
