{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/document.css')}}" />
{{end}}
<div>
    <div class="breadcrumb">
        <a href="{{=URL(c='default', f='index')}}">Home</a> &gt; 
        <a href="{{= URL('project', 'index') }}">Your Projects</a> &gt; 
        <a href="{{=URL(c='project', f='manage', args=[document.getProject().getId()])}}">{{=document.getProject().getTitle()}}</a> &gt; 
        {{=document.getTitle()}} Document
    </div>
    <h1>{{=document.getTitle()}}</h1>
    
	<div class="transcription-image">
        Click on the image to zoom in/out.
        <div id="image-container" class="transciption-image">
            <img id="full-image" src="{{=URL(c='document', f='image', args=[document.getImage()])}}" alt="{{=document.getAlt()}}">
        </div>
	</div>
	<div class="rightSide">
    <h2 class="accepted-transcription-title">These are the transcriptions {{="you have" if current_user != None and current_user.getId() == document.getProject().getCreator() else "the project creator has" }} accepted for this document.</h2>
	
    {{for section in document.getProject().getSections():}}
    <section>
        <h3>{{=section.getTitle()}}</h3>
        <p>{{=section.getBlurb()}}</p>
        {{if document.getAcceptedTranscription(section):}}
            <p class="accepted-transcription">{{=document.getAcceptedTranscription(section).text}}</p>
        {{else:}}
            <p class="accepted-transcription">No transcription available.</p>
        {{pass}}
    </section>
	
    {{pass}}
	</div>
</div>
{{block script}}
<script type="text/javascript" src="{{=URL('static', 'js/image_zoom.js')}}"></script>
{{end}}